{{ partial "header.html" . }}
<div class="row hero" {{ with .Params.header.image }} style="background: url('../{{ . }}') top center no-repeat;background-size: cover;" {{ end }}>
  <div class="hero-legend">
    <h1>{{ .Title }}</h1>
    <p>{{ .Params.header.summary }}</p>
    <p class="reading-time">{{ .ReadingTime }} minute read</p>
  </div>
</div>

<div class="row content methods-single-page">
  <div class="col-md-8">
      <article>
          {{ .Content }}

          {{ if .Params.related_case_studies }}
            {{ if gt (len .Params.related_case_studies) 0 }}
              <h2 id="related_case_studies">Related Case Studies</h2>
              <div class="case-studies-single-boxes case-studies--sm-6">
                {{ $Site := .Site }}
                {{ range .Params.related_case_studies }}
                  {{ with $Site.GetPage "page" "case-studies" . }}
                    {{ .Render "single-box" }}
                  {{ end }}
                {{ end }}
              </div>
            {{ end }}
          {{ end }}
      </article>
  </div>
  <div class="col-md-4 at-a-glance">
      <aside>
        <h3 class="aside-header" style="text-align:center;">At a Glance</h3>
        <hr>

        {{ if not (eq .Params.sidebar.project_stage "") }}
        <div>
          <h4 class="aside-sub-header">Project stage</h4>
          <div class="tags tags--left tags--nomargin">
            <a href="../../methods/#section-{{ urlize .Params.sidebar.project_stage }}" class="tag">{{ .Params.sidebar.project_stage }}</a>
          </div>
        </div>
        {{ end }}

        {{ with .Params.sidebar.takes }}
        <div  class="aside-tool-padding">
          <h4 class="aside-sub-header">Time frame</h4>
          <p>{{ . }}</p>
        </div>
        {{ end }}

        {{ with .Params.sidebar.difficulty }}
        <div class="aside-tool-padding">
          <h4 class="aside-sub-header">Difficulty</h4>
          <p>{{ . }}</p>
        </div>
        {{ end }}

        {{ if not (eq .Params.sidebar.project_stage "") }}
        <div class="aside-tool-padding">
          <h4 class="aside-sub-header">Materials</h4>
          <ul>
            {{ range .Params.sidebar.materials }}<li>{{ . }}</li>{{ end }}
          </ul>
        </div>
        {{ end }}

        {{ if not (eq .Params.sidebar.great_for "") }}
        <div class="aside-tool-padding">
          <h4 class="aside-sub-header">Great for</h4>
          <ul>
            {{ range .Params.sidebar.great_for }}<li>{{ . }}</li>{{ end }}
          </ul>
        </div>
        {{ end }}
      </aside>
  </div>
  <div class="col-md-4 life-sciences-tips">
      <aside id="tips-for-life-sciences-placeholder">
      <div class="aside-tool-padding"></div>
      </aside>
  </div>

</div>
{{ partial "footer.html" . }}

<script>
// Move Tips For Life Sciences section from content the right sidebar
$(document).ready(function(){
  $( "#tips-for-life-sciences-placeholder .aside-tool-padding" ).append( $( "#tips-for-life-sciences" ).next() );
  $('#tips-for-life-sciences').detach().prependTo('#tips-for-life-sciences-placeholder .aside-tool-padding');
  $( "#tips-for-life-sciences" ).append( "<hr>" );
  $( "h2#tips-for-life-sciences" ).css('text-align', 'center');
  $( "#tips-for-life-sciences hr" ).css({
        'border-color': '#808990',
        'text-align': 'center',
      });
  });
</script>

