{{ partial "header.html" . }}
<div class="row hero" {{ with .Params.image }} style="background: url('../{{ . }}') top center no-repeat;background-size: cover;background-position: center;" {{ end }}>
  <div class="hero-legend">
    <h1>{{ .Title }}</h1>
    <p class="blog-author">by {{ .Params.author }}</p>
    <p>{{ .Params.summary }}</p>
    <p class="reading-time">{{ .ReadingTime }} minute read</p>
  </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <article>
            {{ .Content | markdownify }}
        </article>
    </div>
</div>

{{ partial "footer.html" . }}
