<div class="row main-title">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-xs-6 col-sm-8 header-caption">
                <a href="/"><h1>UXLS</h1>
                <h4>{{ .Site.Params.sub_title }}{{ if .Site.Params.is_preview }}<span class="beta">PREVIEW</span>{{ end }}</h4></a>
            </div>
            <div class="col-xs-6 col-sm-4 text-right uxls-logo">
                <a href="http://www.pistoiaalliance.org/" target="_blank"><img src="{{ .Site.Params.baseURL }}/static/img/{{ .Site.Params.uxls_logo }}"></a>
            </div>
        </div>
        <hr>
    </div>
</div>
