<!-- overview of case studies -->

{{ partial "header.html" . }}

<style>
hr.section {
  height:2px;
  color: #ccc;
  background-color:#ccc;
  border: none;
}

</style>


{{ $researchPages := where (where (where .Site.Pages "Type" "=" "methods") ".Params.menucontent" "!=" nil) ".Params.menucontent.section" "=" "user-research" }}
{{ $designPages := where (where (where .Site.Pages "Type" "=" "methods") ".Params.menucontent" "!=" nil) ".Params.menucontent.section" "=" "ui-design" }}
{{ $evalPages := where (where (where .Site.Pages "Type" "=" "methods") ".Params.menucontent" "!=" nil ) ".Params.menucontent.section" "=" "evaluation" }}
{{ $research := dict "pages" $researchPages "icon" "icon_white_research.png" "title" "User Research" }}
{{ $design := dict "pages" $designPages "icon" "icon_white_design.png" "title" "UI Design" }}
{{ $evaluation := dict "pages" $evalPages "icon" "icon_white_evaluation.png" "title" "Evaluation" }}
{{ $pageGroups := slice $research $design $evaluation }}

<div class="row shaded methods-page clearfix">
  <div class="col-md-12">
      <h1>About the UX Methods</h1>
      <p>The UX methods outlined cover the entire user-centered design process. For each method extensive information is provided to allow you to use the method, along with links to find out more and to see how the method has been used in Life Science projects. Methods are categorised by when they are usually used within the user-centered design process.</p>
  </div>


  <div class="col-md-12 methods-process clearfix">
      <div class="col col-lg-4 col-md-4 col-sm-12 col-xs-12 featured-methods-single text-center">
        <a href="#section-user-research" class="process-item process-item--first">
          <div><img src="../methods/section/icon_research.png" class="process-icon" /></div>
          <h3>User Research</h3>
          <p>Initial user research helps understand the target audience (capabilities, limitations, goals, expectations) and the tasks.</p>
          <img src="../methods/section/arrow_right.png" class="process-arrow-right  hidden-xs hidden-sm" />
          <img src="../methods/section/arrow_down.png" class="process-arrow-bottom hidden-md hidden-lg" />
        </a>
      </div>
      <div class="col col-lg-4 col-md-4 col-sm-12 col-xs-12 featured-methods-single text-center">
        <a href="#section-ui-design" class="process-item">
          <div><img src="../methods/section/icon_design.png" class="process-icon" /></div>
          <h3>UI Design</h3>
          <p>User research insights are used to help generate ideas and early designs. Prototyping can be used to bring concepts to life.</p>
          <img src="../methods/section/arrow_right.png" class="process-arrow-right  hidden-xs hidden-sm" />
          <img src="../methods/section/arrow_down.png" class="process-arrow-bottom hidden-md hidden-lg" />
        </a>
      </div>
      <div class="col col-lg-4 col-md-4 col-sm-12 col-xs-12 featured-methods-single text-center">
        <a href="#section-evaluation" class="process-item process-item--last">
          <div><img src="../methods/section/icon_evaluation.png" class="process-icon" /></div>
          <h3>Evaluation</h3>
          <p>It's important to capture user feedback, and to measure the delivered UX throughout a project, not just at the end.</p>
        </a>
      </div>
  </div>

  <div class="col-md-12">
    <a class="btn btn-primary btn-lg approach-link" href="../guide-to-ux/ux-approach-and-principles" role="button">More about the UX approach</a>
  </div>

<!-- Research Section -->
  <div class="col-md-12">
      <hr class="section">
      <a id="section-user-research"></a>
  </div>
  <div class="col-md-12">
    <h2><img src="../methods/section/icon_research.png" class="process-header-icon" alt="" /> User Research</h2>
  </div>
  <div class="row col-md-12 methods-listing">
    {{range $researchPages }}
        {{ .Render "featured-box" }}
    {{ end }}
  </div>

<!-- Design Section -->
  <div class="col-md-12">
    <hr class="section">
    <a id="section-ui-design"></a>
  </div>
  <div class="col-md-12">
    <h2><img src="../methods/section/icon_design.png" class="process-header-icon" alt="" /> UI Design</h2>
  </div>
  <div class="row col-md-12 methods-listing">
    {{range $designPages }}
        {{ .Render "featured-box" }}
    {{ end }}
  </div>

<!-- Evaluation Section -->
  <div class="col-md-12">
    <hr class="section">
    <a id="section-evaluation"></a>
  </div>
  <div class="col-md-12">
    <h2><img src="../methods/section/icon_evaluation.png" class="process-header-icon" alt="" /> Evaluation</h2>
  </div>
  <div class="row col-md-12 methods-listing">
    {{range $evalPages }}
        {{ .Render "featured-box" }}
    {{ end }}
  </div>

</div>

<div class="row methods-page clearfix">

<!-- Capabilities Section -->

  <div class="col-md-12">
    <h1>Not sure which method to use?</h1>
  </div>

  <div class="col-md-12">
    <table class="method-capabilities">
      <thead>
        <tr class="method-header-row">
          <th></th>
          <th class="method-header-main">I want to...</th>
          {{ range .Site.Params.methodCapabilities }}
            {{ $capabilityId := .identifier }}
            <th class="method-capability-header">
              {{ .label }}
            </th>
          {{ end }}
        </tr>
      </thead>
      <tbody>
        {{ range $pageGroup := $pageGroups }}

          {{ range $pageIndex, $page := $pageGroup.pages }}
            <tr class="method-row">
              {{ if eq $pageIndex  0 }}
                <th rowspan="{{ len $pageGroup.pages }}" class="method-category">
                  <img src="../methods/section/{{ $pageGroup.icon }}" class="method-category-icon" alt="" />
                  <div>{{ $pageGroup.title }}</div>
                </th>
              {{ end }}

              <th class="method-header">
                <a href="{{ $page.Permalink }}" class="method-link" title="{{ $page.Params.title }}">
                  {{ $page.Params.short_title | default $page.Params.title }}
                </a>
              </th>

              {{ range .Site.Params.methodCapabilities }}
                {{ $capabilityId := .identifier }}

                <td class="method-capability">
                {{ if $page.Params.capabilities }}
                  {{ $paramValue := index $page.Params.capabilities $capabilityId }}
                  {{ if eq $paramValue "yes" }}
                    <div><img src="../methods/section/tick.png" class="has-capability-icon" alt="Yes" /></div>
                  {{ else }}
                    <div class="no-capability">&nbsp;</div>
                  {{ end }}
                {{ else }}
                  <div class="no-capability">&nbsp;</div>
                {{ end }}
                </td>

              {{ end }}

            </tr>
          {{ end }}

          <tr class="method-group-spacer">
            <th></th>
          </tr>

        {{ end }}

      </tbody>
    </table>
  </div>

</div>

<div class="row shaded methods-page clearfix">

  <div class="col-md-12">
    <h1>UX in Action</h1>
  </div>

  <div class="col-md-12 clearfix">
    <div class="case-studies-single-boxes case-studies--sm-6 case-studies--md-4">
      {{range $index, $value := where .Site.Pages "Type" "=" "case-studies" }}
        {{ if .Params.featured }}
          {{ .Render "single-box" }}
        {{ end }}
      {{ end }}
    </div>
  </div>

  <div class="col-md-12">
    <a class="btn btn-primary btn-lg case-studies-link" href="../case-studies" role="button">View all case studies</a>
  </div>

</div>

<div class="row methods-page clearfix">

  <div class="col-md-12">
    <h1>Have a question, or want to suggest a method?</h1>
    <p>If you have a question about a method, or have a method that you use that you'd like to suggest then please get in touch with the project team. We're always interested to find out about UX methods that are particularly useful for Life Sciences projects.</p>
  </div>

  <div class="col-md-12">
    <a class="btn btn-primary btn-lg contact-link" href="{{ .Site.BaseURL }}about/contact/" role="button">Contact the Project team</a>
  </div>

</div>

{{ partial "footer.html" . }}
