{{ $page := .page }}
<div class="row widget {{ $page.Params.widget }}">
    <div class="col-sm-12 col-md-6">
        <h2>{{ $page.Params.coveringtitle }}</h2>
        <ul>
        {{ range $index, $listitem := $page.Params.covering }}
            <li>{{ . }}</li>
        {{ end }}
        </ul>
    </div>
    <div class="col-sm-12 col-md-6">
        <h2>{{ $page.Params.peopletitle }}</h2>
        <ul>
        {{ range $index, $listitem := $page.Params.people }}
            <li>{{ . }}</li>
        {{ end }}
        </ul>
    </div>
</div>
