{{ $ := .root }}
{{ $page := .page }}
{{ $url := $page.Params.imagedir }}
{{ $input := delimit (slice "static" $url) "/" }}
{{ $files := readDir $input }}

{{ with $page.Content }}
    <div class="row widget {{ $page.Params.widget }} white-bg">
        <div class="col-sm-12">
            {{ . | markdownify }}
        </div>
          {{ range $files }}
          <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 members-logo">
            <!-- <a href="{{$url}}/{{.Name | urlize }}"> -->
              <img src="{{$url}}/{{.Name | urlize }}">
            <!-- </a> -->
          </div>
          {{ end }}
      </div>
{{ end }}
